table,tr,th,td{
    border: 2px solid black;
    border-color: black;
}
th,td{
    background-color:  blue;
}
#container{
    height: 150px;
    display: flex;
    border: 2px solid black;
}
.item{
   
    flex-grow:1;
    background-color: red;
    margin: 5px;
}